<ul>
  <li class="properties">
    <%= link_to('Properties', '#ffoo') -%>
    <ul>
      <% @symbol.properties.order('"jsdoc_properties"."name"').each do |prop| %>
        <li class="<%= (prop.symbol == @symbol) ? 'own' : 'borrowed' %>"><%= link_to(prop.name, '#' + anchorName(prop)) %></li>
      <% end %>
    </ul>
  </li><li class="methods">
    <%= link_to('Methods', '#ffoo') -%>
    <ul>
      <% @symbol.functions.order('"jsdoc_functions"."name"').each do |func| %>
        <li class="<%= (func.symbol == @symbol) ? 'own' : 'borrowed' %>"><%= link_to(func.name, '#' + anchorName(func)) %></li>
      <% end %>
    </ul>
  </li>
</ul>
