<!DOCTYPE html> 
<html lang="en"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
    <title>API Documentation</title>
    <%= stylesheet_link_tag 'jsdoc/documentation' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
    <%= javascript_include_tag 'jsdoc/jsdoc.js' %>
    <%= yield :head %>
  </head>
  <body>
    <header>
      <% if content_for?(:header) %>
        <%= yield :header %>
      <% else %>
        <%= render :partial => 'layouts/jsdoc/header' %>
      <% end %>
    </header>
    <aside>
      <% if content_for?(:aside) %>
        <%= yield :aside %>
      <% else %>
        <%= render :partial => 'layouts/jsdoc/aside_symbol_list' %>
      <% end %>
    </aside>
    <div id="wrapper"<% if content_for?(:toolbar) %> class="has_toolbar"<% end %>>
      <% if content_for?(:toolbar) %>
        <nav class="toolbar">
          <%= yield :toolbar %>
        </nav>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
